In [45]:
# データ加工・処理・分析ライブラリ
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series, DataFrame
import pandas as pd

# 可視化ライブラリ
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

# 機械学習ライブラリ
import sklearn

# 小数第3位まで表示
%precision 3

'%.3f'

In [46]:
import requests, zipfile
import io

# 自動車価格データを取得
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
res = requests.get(url).content

# 取得したデータをDataFrameオブジェクトとして読み込み
auto = pd.read_csv(io.StringIO(res.decode('utf-8')), header=None)

# データの列にラベルを設定
auto.columns =['symboling','normalized-losses','make','fuel-type' ,'aspiration','num-of-doors',
                            'body-style','drive-wheels','engine-location','wheel-base','length','width','height',
                            'curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system','bore',
                            'stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']

In [47]:
auto.shape

(205, 26)

In [48]:
auto.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [49]:
auto = auto[["price", "horsepower", "width", "height"]]

In [50]:
auto

     price horsepower  width  height
0    13495        111   64.1    48.8
1    16500        111   64.1    48.8
2    16500        154   65.5    52.4
3    13950        102   66.2    54.3
4    17450        115   66.4    54.3
..     ...        ...    ...     ...
200  16845        114   68.9    55.5
201  19045        160   68.8    55.5
202  21485        134   68.9    55.5
203  22470        106   68.9    55.5
204  22625        114   68.9    55.5

[205 rows x 4 columns]

In [51]:
auto.isin(["?"]).sum()

price         4
horsepower    2
width         0
height        0
dtype: int64

In [52]:
auto.shape

(205, 4)

In [53]:
auto = auto.replace("?", np.nan).dropna()
auto.shape

(199, 4)

In [54]:
auto.dtypes

price          object
horsepower     object
width         float64
height        float64
dtype: object

In [55]:
auto = auto.assign(price=pd.to_numeric(auto.price))
auto = auto.assign(horsepower=pd.to_numeric(auto.horsepower))
auto.dtypes

price           int64
horsepower      int64
width         float64
height        float64
dtype: object

In [56]:
auto.corr()

               price  horsepower     width    height
price       1.000000    0.810533  0.753871  0.134990
horsepower  0.810533    1.000000  0.615315 -0.087407
width       0.753871    0.615315  1.000000  0.309223
height      0.134990   -0.087407  0.309223  1.000000

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

x = auto.drop("price", axis=1)
y = auto["price"]

In [58]:
x

     horsepower  width  height
0           111   64.1    48.8
1           111   64.1    48.8
2           154   65.5    52.4
3           102   66.2    54.3
4           115   66.4    54.3
..          ...    ...     ...
200         114   68.9    55.5
201         160   68.8    55.5
202         134   68.9    55.5
203         106   68.9    55.5
204         114   68.9    55.5

[199 rows x 3 columns]

In [59]:
y

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 199, dtype: int64

In [60]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.5, random_state=0)

model = LinearRegression()
model.fit(x_train, y_train)

print(model.score(x_train, y_train))
print(model.score(x_test, y_test))
print(model.coef_, model.intercept_)

0.7333575683901381
0.7370688738125764
[  81.651 1829.175  229.51 ] -128409.0463033857

In [61]:
# データを取得
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
res = requests.get(url).content

# 取得したデータをDataFrameオブジェクトとして読み込み
adult = pd.read_csv(io.StringIO(res.decode('utf-8')), header=None)

# データの列にラベルを設定
adult.columns =['age','workclass','fnlwgt','education','education-num','marital-status',
                             'occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week',
                             'native-country','flg-50K']


# データの形式と欠損数を出力
print('データの形式:{}'.format(adult.shape))
print('欠損の数:{}'.format(adult.isnull().sum().sum()))

# データの先頭5行を出力
adult.head()

データの形式:(32561, 15)
欠損の数:0

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,flg-50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [65]:
adult.groupby("flg-50K").size()

flg-50K
 <=50K    24720
 >50K      7841
dtype: int64

In [66]:
adult["fin_flg"] = adult["flg-50K"].map(lambda x: 1 if ">50K" in x else 0)

In [67]:
adult.groupby("fin_flg").size()

fin_flg
0    24720
1     7841
dtype: int64

In [68]:
x = adult[['age','fnlwgt','education-num','capital-gain','capital-loss']]
y = adult['fin_flg']

In [72]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.5, random_state=0)

In [73]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x, y)

LogisticRegression()

In [74]:
print(model.score(x_train, y_train))
print(model.score(x_test, y_test))

0.7952702702702703
0.7964498495178429

In [76]:
# from sklearn.preprocessing import StandardScaler
# x = adult[['age','fnlwgt','education-num','capital-gain','capital-loss']]
# y = adult['fin_flg']x = adult[['age','fnlwgt','education-num','capital-gain','capital-loss']]
# y = adult['fin_flg']
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.5, random_state=0)
# sc = StandardScaler()

In [77]:
from sklearn import datasets

In [86]:
cancer = datasets.load_breast_cancer()

In [94]:
x_train, x_test, y_train, y_test = train_test_split(
    cancer.data, cancer.target, stratify = cancer.target, random_state=0)

In [95]:
model = LogisticRegression()
model.fit(x_train, y_train)
print(model.score(x_train, y_train))
print(model.score(x_test, y_test))

0.960093896713615
0.9370629370629371

/home/horino/.pyenv/versions/3.8.10/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [97]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)

model = LogisticRegression()
model.fit(x_train_std, y_train)
print(model.score(x_train_std, y_train))
print(model.score(x_test_std, y_test))

0.9906103286384976
0.958041958041958

In [100]:
# データを取得
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data'
res = requests.get(url).content

# 取得したデータをDataFrameオブジェクトとして読み込み
mushroom = pd.read_csv(io.StringIO(res.decode('utf-8')), header=None)

# データの列にラベルを設定
mushroom.columns =['classes','cap_shape','cap_surface','cap_color','bruises','odor',
                             'gill_attachment','gill_spacing','gill_size','gill_color','stalk_shape',
                             'stalk_root','stalk_surface_above_ring','stalk_surface_below_ring',
                             'stalk_color_above_ring','stalk_color_below_ring','veil_type','veil_color',
                             'ring_number','ring_type','spore_print_color','population','habitat']

# 先頭5行を表示
mushroom.head()

,classes,cap_shape,cap_surface,cap_color,bruises,odor,gill_attachment,gill_spacing,gill_size,gill_color,...,stalk_surface_below_ring,stalk_color_above_ring,stalk_color_below_ring,veil_type,veil_color,ring_number,ring_type,spore_print_color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

In [102]:
mushroom_dummy = pd.get_dummies(mushroom[["gill_color", "gill_attachment", "odor", "cap_color"]])
mushroom_dummy.head()

,gill_color_b,gill_color_e,gill_color_g,gill_color_h,gill_color_k,gill_color_n,gill_color_o,gill_color_p,gill_color_r,gill_color_u,...,cap_color_b,cap_color_c,cap_color_e,cap_color_g,cap_color_n,cap_color_p,cap_color_r,cap_color_u,cap_color_w,cap_color_y
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [104]:
mushroom["classes"]

0       p
1       e
2       e
3       p
4       e
       ..
8119    e
8120    e
8121    e
8122    p
8123    e
Name: classes, Length: 8124, dtype: object

In [105]:
mushroom_dummy["flg"] = mushroom["classes"].map(lambda x: 1 if x == "p" else 0)

In [106]:
mushroom_dummy

,gill_color_b,gill_color_e,gill_color_g,gill_color_h,gill_color_k,gill_color_n,gill_color_o,gill_color_p,gill_color_r,gill_color_u,...,cap_color_c,cap_color_e,cap_color_g,cap_color_n,cap_color_p,cap_color_r,cap_color_u,cap_color_w,cap_color_y,flg
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8121,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8122,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
8123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0